extends main.jade

block content
	div.panel.panel-primary
		div.panel-heading
			h1.panel-title Log
		div.panel-body
			nav
				ul.pager
					li: a(href='/events?page=previous') Previous
					li: a(href='/events?page=next') Next
			table.table
				tr
					th ID
					th Time Stamp
					th Severity
					th Message
					//- ['id','timeStamp','severity','message']
				each row in events
					if row.severity == 'INFO':
						tr.info
							td #{row.id}
							td #{row.timeStamp}
							td #{row.severity}
							td #{row.message}
					if row.severity == 'ERROR':
						tr.danger
							td #{row.id}
							td #{row.timeStamp}
							td #{row.severity}
							td #{row.message}