extends main.jade

block content
	div.panel.panel-primary
		div.panel-heading
			h1.panel-title Log
		div.panel-body
			div.table-responsive
				table.table
					tr
						th ID
						th Time Stamp
						th Severity
						th Message
						//- ['id','timeStamp','severity','message']
					each row in events
						if row.severity == 'INFO':
							tr.info
								td #{row.id}
								td #{row.timeStamp}
								td #{row.severity}
								td #{row.message}
						if row.severity == 'ERROR':
							tr.danger
								td #{row.id}
								td #{row.timeStamp}
								td #{row.severity}
								td #{row.message}
			div.text-center
				div.btn-group
					a.btn.btn-info(href='/events?page=previous') Previous
					div.btn-group
						button.btn.btn-info.dropdown-toggle(type='button',data-toggle='dropdown') #&nbsp;
							span.caret
						ul.dropdown-menu
							li: a(href='/events?size=10') 10
							li: a(href='/events?size=25') 25
							li: a(href='/events?size=50') 50
							li: a(href='/events?size=100') 100
					a.btn.btn-info(href='/events?page=next') Next