extends main.jade

block content
	div.panel.panel-primary
		div.panel-heading
			h1.panel-title Schedules
		div.panel-body
			if event
				if event.severity == 'INFO'
					p.bg-info #{event.message}
				if event.severity == 'WARN'
					p.bg-warning #{event.message}
				if event.severity == 'ERROR'
					p.bg-danger #{event.message}
			div.btn-group
				button.btn.btn-default#add(type='button')
					span.glyphicon.glyphicon-plus-sign
				button.btn.btn-default#edit(type='button')
					span.glyphicon.glyphicon-pencil
			table#sch_table.table
				tr
					th
					th ID
					th Zone
					th Day
					th Start Time
					th Duration (Minutes)
					th One Shot
				each sch in schedules
					tr(sch_id='4')
						td
							//- button.btn.btn-default.hidden.delete_button(sch_id='#{sch.id}')
							div.btn-group.sch_controls.hidden
								button.btn.btn-default.delete_button(sch_id='4')
									span.glyphicon.glyphicon-remove-sign
								button.btn.btn-default.edit_button(sch_id='4')
									span.glyphicon.glyphicon-pencil
						td #{sch.id}
						td.zone_label #{sch.zone_label}
						td.day_label #{sch.day_label}
						td.start_time #{sch.start_time}
						td.duration_minutes #{sch.duration_minutes}
						td.one_shot #{sch.one_shot}
			form#add_form.hidden(action='putSchedule', method='post')
				div.form-group
					h4 Zone
					select.form-control(name='zoneId')
						each zone in zones
							option(value='#{zone.id}') #{zone.zone_label}
					h4 Day
					select.form-control(name='day')
						option(value='0') Monday
						option(value='1') Tuesday
						option(value='2') Wednesday
						option(value='3') Thursday
						option(value='4') Friday
						option(value='5') Saturday
						option(value='6') Sunday
					div.form-control
						label(for='duration_minutes') Duration in Minutes
						input#duration_minutes(type='number',name='duration_minutes')
					div.form-control
						label(for='start_time') Start Time
						input#start_time(type='time',name='start_time')
					h4 One Shot
					select.form-control(name='one_shot')
						option(value='1') One Shot
						option(value='0') Recurring
					button.btn.btn-default(type='submit') Submit
			form#edit_form.hidden(action='editSchedule', method='post')
				div.form-group
					h4 Zone
					select.form-control(name='zoneId')
						each zone in zones
							option(value='#{zone.id}') #{zone.zone_label}
					h4 Day
					select.form-control(name='day')
						option(value='0') Monday
						option(value='1') Tuesday
						option(value='2') Wednesday
						option(value='3') Thursday
						option(value='4') Friday
						option(value='5') Saturday
						option(value='6') Sunday
					div.form-control
						label(for='duration_minutes') Duration in Minutes
						input#duration_minutes(type='number',name='duration_minutes')
					div.form-control
						label(for='start_time') Start Time
						input#start_time(type='time',name='start_time')
					h4 One Shot
					select.form-control(name='one_shot')
						option(value='1') One Shot
						option(value='0') Recurring
					button.btn.btn-default(type='submit') Submit
		div.panel-footer
			p #{schedules}
block scripts	
	script(type='text/javascript').
		$(document).ready(function(){
			//- var schedules = '#{schedules}';
			//- console.log(schedules);
			$('#edit').click(function(){
				$('.sch_controls').toggleClass('hidden');
			});
			$('.delete_button').click(function(){
				var sch_id = $(this).attr('sch_id');
				var input = $("<input>").attr("name", "id").val(sch_id);
				$(input).addClass('hidden');
				$(this).parents('div.panel-primary').after('<form id="delete_form"></form>');
				$('#delete_form').append(input)
					.attr('action','/deleteSchedule')
					.attr('method','post')
					.submit();
			});
			$('.edit_button').click(function(){
				var sch_id = $(this).attr('sch_id');
				var zone_label = '';
				var day_label = '';
				var start_time = '';
				var duration_minutes = $('tr[sch_id='+sch_id+'] td.duration_minutes').text();
				var one_shot = '';

				$('#edit_form').toggleClass('hidden');
				$('#sch_table').toggleClass('hidden');
				$('form#edit_form input#duration_minutes').val(duration_minutes);
			});
			$('#add').click(function(){
				$('#add_form').toggleClass('hidden');
				$('#sch_table').toggleClass('hidden');
			});
		});